*.log
*.lof
*.lot
*.bak
*.ini
*.ind
*.lnk
*.out
*.aux
*.gz(buzy)
*.synctex.gz
*.nav
*.snm
*.toc
*.vrb
*.db
*.sav
*.%%%
*.@@@
*.$$$
*.___
*._mp
*.~mp
*.tmp
*.mtc
*.mtc0
*.run.xml
*.bcf
*.blg
*.bbl
*.glg
*.glo
*.gls
*.ist
*.fdb_latexmk
*.fls
*.alg
*.acn
*.aco
*.idx
*.listing
# 文件夹
.gitee/
**/figs/
